/* SCSS HSL */
$castleton-green: hsla(146, 64%, 22%, 1);
$emerald: hsla(145, 63%, 49%, 1);
$turquoise: hsla(168, 54%, 54%, 1);
$celadon: hsla(146, 60%, 69%, 1);
$celadon-2: hsla(144, 46%, 77%, 1);
$honeydew: hsla(146, 62%, 90%, 1);

